<section>
  <h1>About Me</h1>
  <div style="margin-top:15px"><a href="/about"><img src="{{ root_url }}/images/alex-patriquin.jpg" height="75" width="75" alt="Alex Patriquin" class="left"></a></div>
  <a href="/about">Alex Patriquin</a>
  <p>Web developer +<br>growth marketer,<br>based in New York, NY.</p>
  <a href="https://github.com/alexpatriquin"><i class="fa fa-github-square fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/alexpatriquin"><i class="fa fa-linkedin-square fa-2x"></i></a>
  <a href="https://twitter.com/apatriq"><i class="fa fa-twitter-square fa-2x"></i></a>
  <a href="https://www.facebook.com/patriquin"><i class="fa fa-facebook-square fa-2x"></i></a>
  <a href="https://plus.google.com/+AlexPatriquin/posts"><i class="fa fa-google-plus-square fa-2x"></i></a>
  <a href="mailto:alexpatriquin@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
  <br><br>
  <a href="https://twitter.com/apatriq" class="twitter-follow-button" data-show-count="true">Follow @apatriq</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</section>
